<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Excel_to_SQL_Import_Wizard.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
    <userSettings>
        <Excel_to_SQL_Import_Wizard.Properties.Settings>
            <setting name="ServerInstanceName" serializeAs="String">
                <value />
            </setting>
            <setting name="DatabaseNameSet" serializeAs="String">
                <value />
            </setting>
            <setting name="UsernameSet" serializeAs="String">
                <value />
            </setting>
            <setting name="PasswordSet" serializeAs="String">
                <value />
            </setting>
            <setting name="TableNameSet" serializeAs="String">
                <value />
            </setting>
            <setting name="ColumnNamesSet" serializeAs="String">
                <value />
            </setting>
        </Excel_to_SQL_Import_Wizard.Properties.Settings>
    </userSettings>
</configuration>